<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blackboard RPG TEH GAME</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>ÜBERSCHRIFT</h1>
  <h3>gewünschten Befehl auswählen</h3>
    <form method="post">
    <div class="form-group">
      <label for="sel2">Befehl auswählen:</label>
      <select class="form-control" id="Quest" name="Quest">
        <option>questsList</option>
        <option>deliverableDetails (Input required)</option>
        <option>deliveriesList</option>
        <option>deliveryDetails (Input required)</option>
        <option>detailsQuest (Input required)</option>
		<option>questTaskList (Input required)</option>
		<option>taskDetails(Input required) </option>
		<option>map</option>
		<option>mapInfo(Input required) </option>
		<option>gotoLocation (Input required)</option>
		<option>userList</option>
		<option>UserDetails (Input required)</option>
		<option>allinOne</option>
      </select>
      <label for="Input">Input:</label>
  <input type="text" class="form-control" id="Input">
  <br>
  <input id="btn_start" name="btn" type="submit" class="btn btn-primary" value="Start" />
    </div>
  </form>
  </div>
<div class="container">
    <form>
    <div class="form-group">
      <label for="Textfeld">Textfeld:</label>
      <textarea class="form-control" rows="10" id="Textfeld">$!{Ausgabe}</textarea>
    </div>
  </form>
</div>

</body>
</html>
