<!DOCTYPE html>
<html lang="de">
<head>
  <title>Blackboard RPG TEH GAME</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h1>ÜBERSCHRIFT</h1>
  <h3>gewünschten Befehl auswählen</h3>
    <form method="post">
    <div class="form-group">
      <label for="sel2">Befehl auswählen:</label>
      <select class="form-control" id="Quest" name="Quest">
        <option value="resetAusgabe">Cleans up the outputscreen</option>
        <option value="questsList">Lists the quests available</option>
        <option value="deliverableDetails">Details about a single deliverable (Input required)</option>
        <option value="deliveriesList">Lists the deliveries</option>
        <option value="deliveryDetails">Details about a single delivery (Input required)</option>
        <option value="detailsQuest">Shows details about the quest (Input required)</option>
		<option value="questTaskList">Lists the tasks to be fulfilled to solve the quest (Input required)</option>
		<option value="taskDetails">Details about a single task(Input required) </option>
		<option value="map">Your friendly map, telling you where locations are found</option>
		<option value="mapInfo">Information about a location on the map(Input required) </option>
		<option value="gotoLocation">Visit Location (Input required)</option>
		<option value="userList">The list of users</option>
		<option value="UserDetails">Shows details about a single user (Input required)</option>
		<option >-----------------------------------------------------------------</option>
		<option value="allinOne">Complete Quest #1</option>
		<option value="allinOne2">Complete Quest #2</option>
		<option value="allinOne3">Complete Quest #3</option>
		<option value="quest3PostAssignments">quest3PostAssignments #3</option>
		<option value="quest3DoYourPart">quest3DoYourPart #3</option>
		<option value="quest3Deliver">quest3Deliver #3</option>
		<option >-----------------------------------------------------------------</option>
		<option value="posttestmessages">Schicke Test Nachrichten</option>
		<option value="gettestmessages">Ausgabe aller Nachrichten</option>
		<option value="postmessage">Nachricht verschicken(status,type,message,IP(optional))</option>
		<option >-----------------------------------------------------------------</option>
		<option value="postHirings">Schicke Hiring (groupuri,questbeschreibung,message,IP(optional))</option>
		<option value="getHirings">Ausgabe der Hirings</option>
		<option >-----------------------------------------------------------------</option>	
		<option value="createGroup">Gruppe erstellen</option>
		<option value="notjoinGroup">Gruppe nicht beitreten(groupnr,message)</option>
		<option value="joinGroup">Gruppe beitreten(groupnr)</option>
		<option value="getGroup">Gruppe anzeigen(groupnr)</option>
		<option >-----------------------------------------------------------------</option>
		<option value="postAssignments">Assignment in Grp anlegen (task,resource,method,data,message,callback?yes or no IP(optional))</option>
		<option value="getAssignments">Assignments ausgabe deiner Gruppe</option>
		<option >-----------------------------------------------------------------</option>
		<option value="postElection">Election (payload,job(id,task,resource,method,data,message1),message2,IP(optional)</option>
		<option >-----------------------------------------------------------------</option>
		<option value="Question">Antworten ausgeben</option>
      </select>
      <label for="Input">Input:</label>
  <input type="text" class="form-control" id="Input"name="Input">
  <br>
  <input id="btn_start" name="btn" type="submit" class="btn btn-primary" value="Start" />
    </div>
  </form>
  </div>
<div class="container">
    <form>
    <div class="form-group">
      <label for="Textfeld">Textfeld:</label>
      <textarea class="form-control" rows="10" id="Textfeld">$!{Ausgabe}</textarea>
    </div>
  </form>
</div>

</body>
</html>
