<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Blackboard RPG TEH GAME</title>
<style type="text/css">
	textarea{
        font-family:Montserrat;  
        font-size: 12px;   
        resize: none;}
	fieldset{
    	border: 0;}	
 	.auto-style1 {
		font-family: Montserrat;}
</style>
</head>
<body>
<span class="auto-style1">
<div style="width: 700px; height: 500px">
<form method="post" style="width: 700px; height: 500px;"> 
	<h3>Kreuzen Sie die gewünschten Befehl an:</h3>
	<fieldset style="width: 571px">
    <ul>
      <li style="height: 35px">         
      <label>
          <input type="radio" name="Quest" value="QuestsList" checked="checked"/> 
		Lists the quests available</label></li>
      <li style="height: 35px">  
        <label>
           <input type="radio" name="Quest" value="DetailsDeliverable"/>
           Details about a single deliverable
       </label>
        <input name="DeliverablesID" id="DeliverablesID" type="text" /></li>
      <li style="height: 35px">  
        <label>
          <input type="radio" name="Quest" value="DeliveriesList"/>
          Lists the deliveries</label></li>
      <li style="height: 35px">  
        <label>
          <input type="radio" name="Quest" value="DetailsDelivery"/>
         Details about a single delivery <input name="DeliveryID" id="DeliveryID" type="text" />
        </label></li>
	  <li style="height: 35px">  
        <label>
          <input type="radio" name="Quest" value="detailsQuest"/>
          Shows details about the quest <input name="detailsQuestID" id="detailsQuestID" type="text" />
        </label>
      </li>
      <li style="height: 35px; width: 630px;">  
        <label>
          <input type="radio" name="Quest" value="QuestTaskList"/>
          Lists the tasks to be fulfilled to solve the quest <input name="tasklistQuestID" id="tasklistQuestID" type="text" />
        </label>
      </li>
      <li style="height: 35px">  
        <label>
          <input type="radio" name="Quest" value="TaskDetails"/>
          Details about a single task <input name="detailsTaskID" id="detailsTaskID" type="text" />
        </label>
      </li>
     <li style="height: 35px"> 
        <label>
          <input type="radio" name="Quest" value="Map"/>
          Your friendly map, telling you where locations are found</label></li>
 <li style="height: 35px">  
        <label>
          <input type="radio" name="Quest" value="MapInfo"/>
          Information about a location on the map <input name="MapName" id="MapName" type="text" />
 </label></li>
 <li style="height: 35px">  
        <label>
          <input type="radio" name="Quest" value="gotoLocation"/>
         Visit Location <input name="LocationName" id="LocationName" type="text" />
 </label></li>
 <li style="height: 35px"> 
        <label>
          <input type="radio" name="Quest" value="UserList"/>
          The list of users</label></li>
 <li style="height: 35px"> 
        <label>
          <input type="radio" name="Quest" value="UserDetails"/>
          Shows details about a single user <input name="UserName" id="UserName" type="text" /></label></li>
		<li>
		<input name="Submit1" type="submit" value="Starten" /></li>
    </ul> 
    </fieldset>
</form>		
</div>
</span>	
<div id="Ebene1" style="position: absolute; width: 800px; height: 500px; z-index: 1; left: 725px; top: 15px">
<textarea id="textarea" name="TextArea1" style="width: 800px; height: 500px" readonly="readonly" cols="20" rows="1">$!{helloContent}
</textarea></div>
</body>
</html>