<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Blackboard RPG TEH GAME</title>
<style type="text/css">
        textarea
        {
        font-family:Montserrat;  
        font-size: 12px;   
        resize: none;
        }
 	.auto-style1 {
	font-family: Montserrat;	
	}
</style>
</head>
<body>
<span class="auto-style1">
<form method="post"> 
	<span class="auto-style1">	
	<h3>Kreuzen Sie die gewünschten Quest an:</h3>
</span>		 
  <fieldset>
    <ul>
      <li> 
        <label>
          <input type="radio" name="Quest" value="Quest 1"/>
          Quest 1  
        </label>
      </li>
      <li> 
        <label>
           <input type="radio" name="Quest" value="Quest 2"/>
           Quest 2
        </label>
      </li>
      <li>  
        <label>
          <input type="radio" name="Quest" value="Quest 4"/>
          Quest 4
        </label>
      </li>
      <li>  
        <label>
          <input type="radio" name="Quest" value="Quest 5"/>
          Quest 5
        </label>
      </li>
	  <li>  
        <label>
          <input type="radio" name="Quest" value="Quest 6"/>
          Quest 6
        </label>
      </li>
      <li>  
        <label>
          <input type="radio" name="Quest" value="Quest 7"/>
          Quest 7
        </label>
      </li>
      <li>  
        <label>
          <input type="radio" name="Quest" value="Quest 8"/>
          Quest 8
        </label>
      </li>
      <li>  
        <label>
          <input type="radio" name="Quest" value="Quest 9"/>
          Quest 9</label></li>
		<li>
		<input name="Submit1" type="submit" value="Starten" />
</li>
    </ul> 
  </fieldset>
</form>	
</span>	
<textarea  name="TextArea1" style="width: 572px; height: 227px" readonly="readonly">
TEXT HIER EINFÜGEN ${helloContent}</textarea>
</body>
</html>